#counterInput:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

#output {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #34495e;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  min-width: 100%;
  width: fit-content;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  text-align: center;
}

#startButton {
  background-color: rgb(103, 202, 169);
  font-size: 2rem;
  color: rgb(29, 60, 47);
  margin: 1rem;
}
