h3 {
  color: #333;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type="number"] {
  margin: 5px 10px 5px 0;
  padding: 5px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

h3 {
  margin-top: 1rem;
}

#pointsArrayDisplay,
#checkOutput,
#objectCheckOutput,
#distanceOutput {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

canvas {
  margin-top: 20px;
  border: 2px solid #4cb48c;
  background-color: #ffffff;
  border-radius: 4px;
}

#plotGraphBtn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #3452ea;
  margin-top: 3rem;
}

p {
  text-align: center;
  color: #747474;
  font-size: 0.8rem;
  margin: 0.5rem;
}

.main > div {
  margin-top: 1rem;
}

.main {
  margin-bottom: 5rem;
}
